.signupBtn {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 1px solid black;
  box-shadow: 0 0 8px 0.4px;
  padding: 20px;
  border-radius: 5px;
}
.signupBtn input {
  width: 100%;
  border-radius: 10px;
  /* width: 200%; */
}
.singUpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.singUpContainer button {
  display: block;
  width: 200px;
  margin: 0 auto;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: #e3371e;
  color: white;
  &:hover {
    background-color: #c0776d;
  }
}
