nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: white; */
  box-shadow: 0 0 5px 1px black;
  margin-bottom: 20px;
  background-color: #c4eef2;

  /* color: yellow; */
}

/* @keyframes underlineAnimation {
  0% {
    width: 0;
    color: white;
  }
  100% {
    color: white;
    width: 100%;
  }
} */

nav a {
  /* text-decoration: none; */
  /* margin: 30px;
  position: relative;
  width: 0;
  transition: all 0.5s ease-in-out; */
}
nav .active {
  text-decoration: none;
  color: #44803f;
}
nav a {
  display: inline-block;
  color: #a67458;
  text-decoration: none;
  position: relative;
  transition: all 0.5s ease-in-out;
  /* &:hover {
    &::after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;
      
      height: 2px;
      background-color: white;
      color: yellow;
      animation: underlineAnimation 0.3s forwards;
    }
  } */
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -8px;
    width: 0%;
    height: 2px;
    background: red;
    display: inline-block;
    transition: all 0.4s;
  }
  &:hover::after {
    width: 100%;
  }
}

/* nav a::after {
  
} */
/* nav a:hover::after {
} */
